*{
    padding: 0;
    color: #000;

}

a{
    text-decoration: none;
    
    text-transform: uppercase;
}

body{
    background-color: #fff;
    color: #000;
}

table a {
    padding : 5px;
    color: #333;
    background-color: #eee;
}

table a:hover{
    background-color: #333;
    color: #fff;
}

header{
    background-color: #333;
    text-align: center;
}

header h1{
    font-size: 2.5rem;
    color: #fff;
}

header div {
    padding: 10px;
}

table, form {
    width: 75% !important;
    float: right;
}

.bodyhead{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 75%;
    float: right;
}

.navbar{
    position: absolute;
    width: 25%;
}

.navbar ul {
    list-style: none;
    padding : 0 20px 0 0;
    width: 100%;
    font-size: 20px;
}

.navbar li {
    padding: 20px;
    text-transform: uppercase;
    background-color: #eee;
    border: solid 1px #fff;
    color: #333;
    transition: ease 0.3s;
}

.navbar li:hover{
    background-color: #333;
    border: solid 1px #000;
    color: #fff;
}

.new, 
.backto,
.btn,
.editbtn,
.btn-lg  {
    border: solid 1px #333;
    padding: 5px;
    color: #333;
}

.new:hover,
.backto:hover,
.btn:hover,
.editbtn:hover {
    background-color: #333;
    color: #fff;
}

.new:hover i{
    color: #fff;
}

label{
    display: flex;
    padding: 10px;
}