{% extends 'base.html.twig' %}

{% block title %}Ressource index{% endblock %}

{% block body %}
    <div class="bodyhead">
        <h1>Ressource index</h1>
        <a class="new" href="{{ path('ressource_new') }}">Create new &nbsp <i class="fas fa-plus"></i></a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Label</th>
                <th>Image</th>
                <th>Description</th>
                <th>Quantity_total</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ressource in ressources %}
            <tr>
                <td>{{ ressource.id }}</td>
                <td>{{ ressource.label }}</td>
                <td>{{ ressource.image }}</td>
                <td>{{ ressource.description }}</td>
                <td>{{ ressource.quantityTotal }}</td>
                <td>
                    <a href="{{ path('ressource_show', {'id': ressource.id}) }}">show</a>
                    <a href="{{ path('ressource_edit', {'id': ressource.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
