{% extends 'base.html.twig' %}

{% block title %}Loan index{% endblock %}

{% block body %}
    <div class="bodyhead">
        <h1>Loan index</h1>
        <a class="new" href="{{ path('loan_new') }}">Create new &nbsp <i class="fas fa-plus"></i></a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Created_at</th>
                <th>Finished_at</th>
                <th>Returned_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for loan in loans %}
            <tr>
                <td>{{ loan.id }}</td>
                <td>{{ loan.createdAt ? loan.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ loan.finishedAt ? loan.finishedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ loan.returnedAt ? loan.returnedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('loan_show', {'id': loan.id}) }}">show</a>
                    <a href="{{ path('loan_edit', {'id': loan.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
