<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="stylesheet" type="text/css" href={{ asset('assets/bootstrap.css')}}>
        <link rel="stylesheet" type="text/css" href={{ asset('assets/style.css')}}>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {# {% include 'header.html.twig' %} #}
        <header>
            <div>
                <h1>MY ADMIN</h1>
            </div>
        </header>
        <nav class="navbar">
            <ul>
                <a href="{{ path('category_index') }}"> <li>Category</li></a>
                <a href="{{ path('group_index') }}"><li>  Group</li></a>
                <a href="{{ path('loan_index') }}"> <li> Loan</li></a>
                <a href="{{ path('ressource_index') }}"><li>  Ressource</li></a>
                <a href="{{ path('user_index') }}"> <li> User</li></a>
                <a href="{{ path('app_login') }}"> <li> Login</li></a> 
            </ul>
        </nav>
        {% block body %}{% endblock %}
    </body>
</html>
