{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <div class="bodyhead">
        <h1>Edit user</h1>
         <a class="backto" href="{{ path('user_index') }}">back to list</a>
    </div>

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
