{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <div class="bodyhead">
        <h1>Create new user</h1>
         <a class="backto" href="{{ path('user_index') }}">back to list</a>
    </div>

    {{ include('user/_form.html.twig') }}
{% endblock %}
