{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <div class="bodyhead">
        <h1>User</h1>
         <a class="backto" href="{{ path('user_index') }}">back to list</a> <a class="editbtn" href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
    </div>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ user.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ user.lastname }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr>
        </tbody>
    </table>


    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
